.long-card{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 10px;
    padding: 1%;
    height: 300px;
}
.long-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .long-card .long-text{
      font-size: 80%;
      font-weight: 400;
      word-spacing:1px; 
  }



.domain-card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    height: 300px;
    border-radius: 10px;
    padding: 1%;
    margin-top: 2%;
  }
  
  /* On mouse-over, add a deeper shadow */
  .domain-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  

.team ul{
    /* width: 75%;
    height: auto; */
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
}

.team ul li{
    list-style: none;
    background: #eee;
    padding: 8px 20px;
    margin: 5px;
    cursor: pointer;
    font-size: 80%;
}
.team ul li.active{
    background: #03a9f4;
    color: white;
}

.product{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.product .itemBox{
    width: 500px;
    height: 200px;
    margin-top: 2%;
    margin-right: 2%;
}



.product .itemBox img{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.name{
    color: black;
    font-size: 80%;
}
.name::after{
    content: none;
}

.item-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width:100%;
    height: 200px;
    padding: 1%;
    margin-top: 2%;
}  

.item-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
